<h2> Part 1 Explore Data </h2>

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import io

In [2]:
os.getcwd()

'C:\\Users\\FOOJINNY\\Documents\\Python for Business'

In [3]:
print(os.listdir())

['.ipynb_checkpoints', 'Assignment1(1) (1).ipynb', 'Assignment1.ipynb', 'AutomobileData-Lesson5.csv', 'cars.csv', 'chocolate.csv', 'climate.txt', 'climate_results.txt', 'data', 'data4', 'DataOnly.csv', 'data_old', 'df4.csv', 'diamonds.csv', 'dragon', 'Exercise - W3Resources.ipynb', 'exercise.csv', 'fmri.csv', 'folders', 'FooJinny_Assignment_Individual(17041468).ipynb', 'Group Assignment', 'GroupAssignment_1.ipynb', 'Group_Assigment_New-Copy1.ipynb', 'Group_Assigment_New.ipynb', 'Group_Assignment.ipynb', 'insurance.csv', 'iris.csv', 'italy-covid-daywise.csv', 'Latest_Group.ipynb', 'Lesson 1 - first-steps-with-python-Sunway.ipynb', 'Lesson 2 - python_variables_and_data_types-Sunway.ipynb', 'Lesson 6  -Numpy-Sch.ipynb', 'Lesson3-Python_branching_and_loops-Sunway.ipynb', 'Lesson4-python_functions_and_scope-Sunway.ipynb', 'Lesson5-FileIO-Sch-Ver2-4Students.ipynb', 'Lesson5-Python_os_and_filesystem-Sunway.ipynb', 'Lesson7-Pandas.ipynb', 'Lesson8&9-DataVisualisationwithPython-Ver3-4Students (1).ipynb', 'loans1.txt', 'loans2.txt', 'loans3.txt', 'locations.csv', 'movies.csv', 'movies2.csv', 'mpg.csv', 'MyFirstFigure.png', 'names_raw.txt', 'olympics_events.csv', 'olympics_games.csv', 'results.csv', 'salaries.txt', 'sales.xlsx', 'stocks.json', 'student-mat.csv', 'student-merge.R', 'student-por.csv', 'telecom_churn.csv', 'temp.txt', 'tips.csv', 'titanic.csv', 'trying.txt', 'Untitled.ipynb', 'Untitled1.ipynb']

In [4]:
pd.set_option('display.max_columns', None)
#pd.set_option('display_max_rows', None)

raw_data = pd.read_csv ("DataOnly.csv")

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Period            1116 non-null   object
 1   Document type     1116 non-null   object
 2   TALA Category     1116 non-null   object
 3   Direction         1116 non-null   object
 4   Items_group       1116 non-null   object
 5   Item              1116 non-null   object
 6   On-hand quantity  1116 non-null   object
 7   Qty_in_stock      1116 non-null   object
 8   Receipt_quantity  1116 non-null   object
 9   Stock_Value       1116 non-null   object
 10  Issue_quantity    1116 non-null   object
 11  Unnamed: 11       5 non-null      object
 12  Unnamed: 12       5 non-null      object
 13  Unnamed: 13       5 non-null      object
 14  Unnamed: 14       5 non-null      object
 15  Unnamed: 15       5 non-null      object
 16  Unnamed: 16       5 non-null      object
 17  Unnamed: 17       5 non-null      float64
 18  Unnamed: 18       5 non-null      float64
 19  Unnamed: 19       5 non-null      float64
 20  Unnamed: 20       5 non-null      float64
 21  Unnamed: 21       5 non-null      float64
 22  Unnamed: 22       0 non-null      float64
 23  Unnamed: 23       0 non-null      float64
 24  Unnamed: 24       0 non-null      float64
 25  Unnamed: 25       0 non-null      float64
 26  Unnamed: 26       0 non-null      float64
 27  Unnamed: 27       0 non-null      float64
 28  Unnamed: 28       0 non-null      float64
 29  Unnamed: 29       0 non-null      float64
 30  Unnamed: 30       0 non-null      float64
 31  Unnamed: 31       0 non-null      float64
dtypes: float64(15), object(17)
memory usage: 279.1+ KB

<h3> Part 1.1 Check All Columns Values </h3>

In [6]:
raw_data.columns

Index(['Period', 'Document type', 'TALA Category', 'Direction', 'Items_group',
       'Item', 'On-hand quantity', 'Qty_in_stock', 'Receipt_quantity',
       'Stock_Value', 'Issue_quantity', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [7]:
raw_data.dtypes

Period               object
Document type        object
TALA Category        object
Direction            object
Items_group          object
Item                 object
On-hand quantity     object
Qty_in_stock         object
Receipt_quantity     object
Stock_Value          object
Issue_quantity       object
Unnamed: 11          object
Unnamed: 12          object
Unnamed: 13          object
Unnamed: 14          object
Unnamed: 15          object
Unnamed: 16          object
Unnamed: 17         float64
Unnamed: 18         float64
Unnamed: 19         float64
Unnamed: 20         float64
Unnamed: 21         float64
Unnamed: 22         float64
Unnamed: 23         float64
Unnamed: 24         float64
Unnamed: 25         float64
Unnamed: 26         float64
Unnamed: 27         float64
Unnamed: 28         float64
Unnamed: 29         float64
Unnamed: 30         float64
Unnamed: 31         float64
dtype: object

<h4> Part 1.1.1 Remove Unnamed Columns </h4>

In [8]:
#remove unnamed columns 

raw_data_subset = raw_data [['Period', 'Document type', 'TALA Category', 'Direction', 'Items_group', 'Item',
                             'On-hand quantity', 'Qty_in_stock', 'Receipt_quantity','Stock_Value', 'Issue_quantity']]
    
raw_data_subset

,Period,Document type,TALA Category,Direction,Items_group,Item,On-hand quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0,0,1,5.5537,0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010,14272.34,2010,13759.53138,0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414,0,414,2093.0184,0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65,0,1144,8767.1584,0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881,0,1881,16277.4216,0
...,...,...,...,...,...,...,...,...,...,...,...
1111,Q4 2021/22,Supplier receipt,PC,Outgoing,Finished Material,Y-MY004/F/275,-21600,24340,0,-48940.5672,21600
1112,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-3533-15H/F/184,-3680,2472.64,0,-33941.10368,3680
1113,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-5435-61/F/1000,-36000,114877,0,-373404.96,36000
1114,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-6532-15/F/180,-2160,3420,0,-75288.21048,2160
1115,Q4 2021/22,Supplier receipt,PC,Outgoing,Services,Z-PF07,-1,3,0,-1200.41148,1

<h4> Part 1.1.2 Columns : Period </h4>

In [9]:
#check 'Period' columns for blank values

raw_data_subset['Period'].value_counts()

Q4 2021/22    171
Q4 2020/21    157
Q2 2020/21    146
Q1 2021/22    145
Q1 2020/21    138
Q3 2020/21    134
Q3 2021/22    109
Q2 2021/22    101
                6
Q1 2023/24      4
Q4 2022/23      2
Q4 2020/25      1
Q5 2020/21      1
Q6 2020/21      1
Name: Period, dtype: int64

<h4> Part 1.1.3 Columns : Document type </h4>

In [10]:
#check 'Document type' columns for blank values

raw_data_subset['Document type'].value_counts()

Supplier receipt         666
Miscellaneous receipt    264
Miscellaneous issue      180
                           6
Name: Document type, dtype: int64

<h4> Part 1.1.4 Columns : TALA Category </h4>

In [11]:
#check 'TALA Category' columns for blank values

raw_data_subset['TALA Category'].value_counts()

PC    616
PA    482
PB     12
        6
Name: TALA Category, dtype: int64

<h4> Part 1.1.5 Columns : Direction </h4>

In [12]:
#check 'Direction' columns for blank values

raw_data_subset['Direction'].value_counts()

Incoming    711
Outgoing    399
              6
Name: Direction, dtype: int64

<h4> Part 1.1.6 Columns : Items_group </h4>

In [13]:
#check 'Items_group' columns for blank values

raw_data_subset['Items_group'].value_counts()

Finished Material    568
Raw Materials        296
Services             224
Packing Materials     23
xxx                    5
Name: Items_group, dtype: int64

<h4> Part 1.1.7 Columns : Item </h4>

In [14]:
#check 'Item' columns for blank values

raw_data_subset['Item'].value_counts()

EMBR18451A-61/F/1060    21
Y-MY0032/F/178          19
Y-MY007/F/1400          19
Y-MY0015/F/270/SHELL    17
L-844M-15/F/204/TML     17
                        ..
EC6097A-15/F/186         1
EC6020A-15/F/197         1
EC2048A-15/F/202         1
DVE4K016-15/F/210        1
S-009-15/F/225           1
Name: Item, Length: 238, dtype: int64

<h4> Part 1.1.8 Columns : On-hand quantity </h4>

In [15]:
#check 'On-hand quantity' columns for blank values

raw_data_subset['On-hand quantity'].value_counts()

1         14
300       13
-150      12
-2        12
2         11
          ..
71140      1
2230       1
130000     1
14062      1
-2160      1
Name: On-hand quantity, Length: 754, dtype: int64

<h4> Part 1.1.9 Columns : Qty_in_stock </h4>

In [16]:
#check 'Qty_in_stock' columns for blank values

raw_data_subset['Qty_in_stock'].value_counts()

0           379
809           8
3567          8
1399          8
4412          7
           ...
42817.02      1
293436        1
15075         1
8665          1
114877        1
Name: Qty_in_stock, Length: 364, dtype: int64

<h4> Part 1.1.10 Columns : Receipt_quantity </h4>

In [17]:
#check 'Receipt_quantity' columns for blank values

raw_data_subset['Receipt_quantity'].value_counts()

0        399
1         15
300       13
3         10
4         10
        ...
71140      1
5175       1
8946       1
3672       1
16848      1
Name: Receipt_quantity, Length: 483, dtype: int64

<h4> Part 1.1.11 Columns : Stock_Value </h4>

In [18]:
#check 'Stock_Value' columns for blank values

raw_data_subset['Stock_Value'].value_counts()

0              10
                6
-1358.1062      4
2716.2124       4
1818777.172     3
               ..
3910.819128     1
109927.35       1
25979.28464     1
110076.251      1
-1200.41148     1
Name: Stock_Value, Length: 981, dtype: int64

<h4> Part 1.1.12 Columns : Issue_quantity </h4>

In [19]:
#check 'Issue_quantity' columns for blank values

raw_data_subset['Issue_quantity'].value_counts()

0        710
150       12
2         12
21600      8
100        7
        ...
232        1
2448       1
0.2        1
91.8       1
2160       1
Name: Issue_quantity, Length: 294, dtype: int64

<h3> Part 1.2 Rename Header Names </h3>

In [20]:
raw_data_subset.head()

,Period,Document type,TALA Category,Direction,Items_group,Item,On-hand quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0,0,1,5.5537,0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010,14272.34,2010,13759.53138,0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414,0,414,2093.0184,0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65,0,1144,8767.1584,0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881,0,1881,16277.4216,0

In [21]:
raw_data_subset.columns

Index(['Period', 'Document type', 'TALA Category', 'Direction', 'Items_group',
       'Item', 'On-hand quantity', 'Qty_in_stock', 'Receipt_quantity',
       'Stock_Value', 'Issue_quantity'],
      dtype='object')

In [22]:
#Change headers name that consists of blank space in between

raw_data_subset.columns = raw_data_subset.columns.str.replace(' ','_')

In [23]:
raw_data_subset.columns

Index(['Period', 'Document_type', 'TALA_Category', 'Direction', 'Items_group',
       'Item', 'On-hand_quantity', 'Qty_in_stock', 'Receipt_quantity',
       'Stock_Value', 'Issue_quantity'],
      dtype='object')

In [24]:
#All headers name is now in the correct string method

raw_data_subset.head()

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0,0,1,5.5537,0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010,14272.34,2010,13759.53138,0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414,0,414,2093.0184,0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65,0,1144,8767.1584,0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881,0,1881,16277.4216,0

<h2> Part 2 Data Cleaning </h2>

In [25]:
#initial data size in rows and columns after removing unnamed columns

raw_data_subset.shape

(1116, 11)

In [26]:
#detecting null values

raw_data_subset.isna().sum()

Period              0
Document_type       0
TALA_Category       0
Direction           0
Items_group         0
Item                0
On-hand_quantity    0
Qty_in_stock        0
Receipt_quantity    0
Stock_Value         0
Issue_quantity      0
dtype: int64

<h4> Part 2.1 Remove Any Empty Cells (a) </h4>

In [27]:
#Column 'Period' has empty cells

raw_data_subset['Period'].value_counts()

Q4 2021/22    171
Q4 2020/21    157
Q2 2020/21    146
Q1 2021/22    145
Q1 2020/21    138
Q3 2020/21    134
Q3 2021/22    109
Q2 2021/22    101
                6
Q1 2023/24      4
Q4 2022/23      2
Q4 2020/25      1
Q5 2020/21      1
Q6 2020/21      1
Name: Period, dtype: int64

In [28]:
raw_data_subset.loc[711:718]

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
711,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY009/F/245,1470,0,1470,3308.25411,0
712,,,,,Packing Materials,C625-15/F/1,250,81,250,23963.30375,0
713,,,,,Raw Materials,R-2005-15/F/180,5400,809,5400,33666.7266,0
714,,,,,Raw Materials,R-321-15/F/162,3240,359,3240,18693.6984,0
715,,,,,Raw Materials,R-3533-15H/F/184,47840,126833,47840,282589.7318,0
716,,,,,Raw Materials,R-5435-15/F/215,51600,0,51600,487289.502,0
717,,,,,Services,Z-EQTK015,26,80,26,10556,0
718,Q1 2021/22,Supplier receipt,PC,Incoming,Packing Materials,C625-15/F/1,250,81,250,23963.30375,0

In [29]:
#Remove empty cells

raw_data_subset = raw_data_subset.drop(labels=[712, 713, 714, 715, 716, 717], axis=0)

In [30]:
#Column 'Period' rows with empty cells are removed

raw_data_subset['Period'].value_counts()

Q4 2021/22    171
Q4 2020/21    157
Q2 2020/21    146
Q1 2021/22    145
Q1 2020/21    138
Q3 2020/21    134
Q3 2021/22    109
Q2 2021/22    101
Q1 2023/24      4
Q4 2022/23      2
Q4 2020/25      1
Q5 2020/21      1
Q6 2020/21      1
Name: Period, dtype: int64

In [31]:
raw_data_subset.loc[711:718]

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
711,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY009/F/245,1470,0,1470,3308.25411,0
718,Q1 2021/22,Supplier receipt,PC,Incoming,Packing Materials,C625-15/F/1,250,81,250,23963.30375,0

<h5> Once removed empty cells through column 'Period', column 'Document Type', 'TALA Category', 'Direction' these three columns that contain empty cells has been removed as well. Shown as below: </h5>

In [32]:
#check 'Document type' columns for missing values

raw_data_subset['Document_type'].value_counts()

Supplier receipt         666
Miscellaneous receipt    264
Miscellaneous issue      180
Name: Document_type, dtype: int64

In [33]:
#check 'TALA Category' columns for missing values

raw_data_subset['TALA_Category'].value_counts()

PC    616
PA    482
PB     12
Name: TALA_Category, dtype: int64

In [34]:
#check 'Direction' columns for missing values

raw_data_subset['Direction'].value_counts()

Incoming    711
Outgoing    399
Name: Direction, dtype: int64

In [35]:
#data size in rows and columns after removing empty row cells based column 'Period', column 'Document Type', 'TALA Category', 'Direction'

raw_data_subset.shape

(1110, 11)

<h4> Part 2.2 Remove Any Empty Cells (b) </h4>

In [36]:
#data size after removing unnamed columns and empty row cells based on first 4 columns

raw_data_subset.shape

(1110, 11)

In [37]:
#check 'Qty_in_stock' columns for blank values

raw_data_subset['Qty_in_stock'].value_counts()

0           378
3567          8
1399          8
809           7
40910         7
           ...
42817.02      1
293436        1
15075         1
8665          1
114877        1
Name: Qty_in_stock, Length: 364, dtype: int64

In [38]:
#Find empty string cells through Qty_in_stock

raw_data_subset[~raw_data_subset.Qty_in_stock.str.contains('\w')].Qty_in_stock.count()

6

In [39]:
raw_data_subset.loc[700:708]

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
700,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY0032/F/178,56960,400000,56960,1818777.172,0
701,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY0038-15/F/240,7200,,,,
702,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY004/F/275,44000,,,,
703,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY005/F/225,54000,,,,
704,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY007/F/1400,142800,,,,
705,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY009/F/245,1470,,,,
706,Q1 2021/22,Supplier receipt,PC,Incoming,Packing Materials,C625-15/F/1,250,,,,
707,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY0038-15/F/240,7200,0,7200,31680,0
708,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY004/F/275,44000,48680,44000,99693.748,0

In [40]:
#Remove empty cells

raw_data_subset = raw_data_subset.drop(labels=[701,702,703,704, 705,706], axis=0)

In [41]:
#Column 'Qty_in_stock' rows with empty cells are removed

raw_data_subset['Qty_in_stock'].value_counts()

0         378
3567        8
1399        8
4412        7
6638        7
         ...
8665        1
5596        1
146718      1
267636      1
114877      1
Name: Qty_in_stock, Length: 363, dtype: int64

In [42]:
raw_data_subset.loc[700:708]

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
700,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY0032/F/178,56960,400000,56960,1818777.172,0
707,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY0038-15/F/240,7200,0,7200,31680,0
708,Q1 2021/22,Supplier receipt,PC,Incoming,Finished Material,Y-MY004/F/275,44000,48680,44000,99693.748,0

<h5> Once removed empty cells through column 'Qty_in_stock', column 'Receipt_quantity', 'Stock_Value, 'Issue_quantity' these three columns that contain empty cells has been removed as well. Shown as below: </h5>

In [43]:
#check 'Receipt_quantity' columns for blank values

raw_data_subset['Receipt_quantity'].value_counts()

0        399
1         15
300       13
4         10
2         10
        ...
71140      1
5175       1
8946       1
3672       1
16848      1
Name: Receipt_quantity, Length: 482, dtype: int64

In [44]:
#check 'Stock_Value' columns for blank values

raw_data_subset['Stock_Value'].value_counts()

0               10
-1358.1062       4
2716.2124        4
-343079.7989     3
-146768.3347     3
                ..
15554.7364       1
3910.819128      1
109927.35        1
25979.28464      1
-1200.41148      1
Name: Stock_Value, Length: 980, dtype: int64

In [45]:
#check 'Issue_quantity' columns for blank values

raw_data_subset['Issue_quantity'].value_counts()

0        704
150       12
2         12
21600      8
100        7
        ...
232        1
2448       1
0.2        1
91.8       1
2160       1
Name: Issue_quantity, Length: 293, dtype: int64

In [46]:
#data size in rows and columns after removing empty row cells based column 'Qty_in_stock', column 'Receipt_quantity', 'Stock_Value', 'Issue_quantity'

raw_data_subset.shape

(1104, 11)

<h4> Part 2.3 Remove Outliers </h4>

In [47]:
#data size after removing all empty row cells and unnamed columns

raw_data_subset.shape

(1104, 11)

In [48]:
#'Items_group' has outlier named 'xxx'

raw_data_subset['Items_group'].value_counts()

Finished Material    563
Raw Materials        292
Services             223
Packing Materials     21
xxx                    5
Name: Items_group, dtype: int64

In [49]:
#remove the rows where the value of column “Items_group” is “xxx” 

raw_data_subset.drop(raw_data_subset.index[raw_data_subset['Items_group'] == 'xxx'], inplace=True)

In [50]:
#Column 'Items_group' rows with 'xxx' are removed

raw_data_subset['Items_group'].value_counts()

Finished Material    563
Raw Materials        292
Services             223
Packing Materials     21
Name: Items_group, dtype: int64

In [51]:
raw_data_subset.shape

(1099, 11)

<h4> Part 2.3.1 Remove Non-Integer Value </h4>

In [52]:
#abc

alpha_values = raw_data_subset[(raw_data_subset['On-hand_quantity'].str.isalpha())]
alpha_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
435,Q4 2020/21,Miscellaneous receipt,PC,Incoming,Raw Materials,R-321-15/F/162,abc,1535.76,384,3072.054144,0

In [53]:
#def

alpha_values = raw_data_subset[(raw_data_subset['Qty_in_stock'].str.isalpha())]
alpha_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
436,Q4 2020/21,Miscellaneous receipt,PC,Incoming,Raw Materials,R-3533-15H/F/184,113,def,113,1042.213238,0

In [54]:
#hij

alpha_values = raw_data_subset[(raw_data_subset['Receipt_quantity'].str.isalpha())]
alpha_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
437,Q4 2020/21,Miscellaneous receipt,PC,Incoming,Raw Materials,R-370-61/F/1050,217,30910,hij,1406.626116,0

In [55]:
#klm

alpha_values = raw_data_subset[(raw_data_subset['Stock_Value'].str.isalpha())]
alpha_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
438,Q4 2020/21,Miscellaneous receipt,PC,Incoming,Raw Materials,R-50332-15/F/145,0.5,84,0.5,klm,0

In [56]:
#opq

alpha_values = raw_data_subset[(raw_data_subset['Issue_quantity'].str.isalpha())]
alpha_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
439,Q4 2020/21,Miscellaneous receipt,PC,Incoming,Raw Materials,R-99-98/F/1,204,468223,204,0.815388,opq

In [57]:
#-K23

alphanum_values = raw_data_subset[(raw_data_subset['Issue_quantity'].str.isalnum())]
alphanum_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0,0,1,5.5537,0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010,14272.34,2010,13759.53138,0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414,0,414,2093.0184,0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65,0,1144,8767.1584,0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881,0,1881,16277.4216,0
...,...,...,...,...,...,...,...,...,...,...,...
1111,Q4 2021/22,Supplier receipt,PC,Outgoing,Finished Material,Y-MY004/F/275,-21600,24340,0,-48940.5672,21600
1112,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-3533-15H/F/184,-3680,2472.64,0,-33941.10368,3680
1113,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-5435-61/F/1000,-36000,114877,0,-373404.96,36000
1114,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-6532-15/F/180,-2160,3420,0,-75288.21048,2160
1115,Q4 2021/22,Supplier receipt,PC,Outgoing,Services,Z-PF07,-1,3,0,-1200.41148,1

In [58]:
#-K23

raw_data_subset.loc[570:574]

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
570,Q4 2020/21,Supplier receipt,PC,Incoming,Services,Z-PF46,14976,470850,14976,12879.36,0
571,Q4 2020/21,Supplier receipt,PC,Outgoing,Finished Material,MEC72001C-39/F/24000,-145150,133818,0,-580600,-1145150
572,Q4 2020/21,Supplier receipt,PC,Outgoing,Finished Material,Y-MY0015/F/270/SHELL,-21600,104207,0,-52416.3096,-21600
573,Q4 2020/21,Supplier receipt,PC,Outgoing,Finished Material,Y-MY0032/F/178,-178,100000,0,-5683.678662,-K23
574,Q4 2020/21,Supplier receipt,PC,Outgoing,Finished Material,Y-MY007/F/1400,-49000,96797,0,-297388.1288,-49000

In [59]:
#Remove all rows that consist alphabetical & alphanumeric values in quantity, supposingly in integer

raw_data_subset = raw_data_subset.drop(labels=[435,436,437,438,439,573], axis=0)

In [60]:
#Update data shape

raw_data_subset.shape

(1093, 11)

<h4> Part 2.4 Remove Incorrect Entries </h4>

In [61]:
#check 'Period' columns values that has incorrect entries

raw_data_subset['Period'].value_counts()

Q4 2021/22    171
Q4 2020/21    151
Q2 2020/21    146
Q1 2020/21    138
Q3 2020/21    134
Q1 2021/22    134
Q3 2021/22    109
Q2 2021/22    101
Q1 2023/24      4
Q4 2022/23      2
Q4 2020/25      1
Q5 2020/21      1
Q6 2020/21      1
Name: Period, dtype: int64

In [62]:
#remove first incorrect entries

raw_data_subset = raw_data_subset[raw_data_subset['Period'] != 'Q4 2020/25']

In [63]:
#remove second incorrect entries

raw_data_subset = raw_data_subset[raw_data_subset['Period'] != 'Q5 2020/21']

In [64]:
#remove third incorrect entries

raw_data_subset = raw_data_subset[raw_data_subset['Period'] != 'Q6 2020/21']

In [65]:
#Column 'Period' rows with incorrect entries are removed

raw_data_subset['Period'].value_counts()

Q4 2021/22    171
Q4 2020/21    151
Q2 2020/21    146
Q1 2020/21    138
Q3 2020/21    134
Q1 2021/22    134
Q3 2021/22    109
Q2 2021/22    101
Q1 2023/24      4
Q4 2022/23      2
Name: Period, dtype: int64

In [66]:
#final data size after removing incorrect entries based on Period

raw_data_subset.shape

(1090, 11)

<h4> Part 2.5 Remove Duplicate Entries </h4>

In [67]:
raw_data_subset.shape

(1090, 11)

In [68]:
#check for duplication

raw_data_subset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1111    False
1112    False
1113    False
1114    False
1115    False
Length: 1090, dtype: bool

In [69]:
raw_data_subset.duplicated().sum()

0

In [70]:
#check duplication rows based on 9 columns but keep the first row if there is duplication 

raw_data_subset.drop_duplicates(subset=['TALA_Category','Direction','Items_group','Item','On-hand_quantity','Qty_in_stock','Receipt_quantity',
                                        'Stock_Value','Issue_quantity'], keep='first',inplace=True)

In [71]:
raw_data_subset

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0,0,1,5.5537,0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010,14272.34,2010,13759.53138,0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414,0,414,2093.0184,0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65,0,1144,8767.1584,0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881,0,1881,16277.4216,0
...,...,...,...,...,...,...,...,...,...,...,...
1111,Q4 2021/22,Supplier receipt,PC,Outgoing,Finished Material,Y-MY004/F/275,-21600,24340,0,-48940.5672,21600
1112,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-3533-15H/F/184,-3680,2472.64,0,-33941.10368,3680
1113,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-5435-61/F/1000,-36000,114877,0,-373404.96,36000
1114,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-6532-15/F/180,-2160,3420,0,-75288.21048,2160
1115,Q4 2021/22,Supplier receipt,PC,Outgoing,Services,Z-PF07,-1,3,0,-1200.41148,1

<h4> Part 2.6 Change Quantity dtypes to Float </h4>

In [72]:
raw_data_subset.shape

(1041, 11)

In [73]:
#data dtypes that are in numeric belongs to object before change

raw_data_subset.dtypes

Period              object
Document_type       object
TALA_Category       object
Direction           object
Items_group         object
Item                object
On-hand_quantity    object
Qty_in_stock        object
Receipt_quantity    object
Stock_Value         object
Issue_quantity      object
dtype: object

In [74]:
#change dtypes for those in numeric to float 

for c in ["Qty_in_stock", "On-hand_quantity", "Receipt_quantity", "Stock_Value", "Issue_quantity"]:
    raw_data_subset[c] = pd.to_numeric(raw_data_subset[c])

In [75]:
#data dtypes that are in numeric now belongs to float

raw_data_subset.dtypes

Period               object
Document_type        object
TALA_Category        object
Direction            object
Items_group          object
Item                 object
On-hand_quantity    float64
Qty_in_stock        float64
Receipt_quantity    float64
Stock_Value         float64
Issue_quantity      float64
dtype: object

<h4> Part 2.7 Round up Decimal Values </h4>

In [76]:
#numeric datas are still in decimal value

raw_data_subset

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0.0,0.00,1.0,5.55370,0.0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010.0,14272.34,2010.0,13759.53138,0.0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414.0,0.00,414.0,2093.01840,0.0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65.0,0.00,1144.0,8767.15840,0.0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881.0,0.00,1881.0,16277.42160,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1111,Q4 2021/22,Supplier receipt,PC,Outgoing,Finished Material,Y-MY004/F/275,-21600.0,24340.00,0.0,-48940.56720,21600.0
1112,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-3533-15H/F/184,-3680.0,2472.64,0.0,-33941.10368,3680.0
1113,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-5435-61/F/1000,-36000.0,114877.00,0.0,-373404.96000,36000.0
1114,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-6532-15/F/180,-2160.0,3420.00,0.0,-75288.21048,2160.0
1115,Q4 2021/22,Supplier receipt,PC,Outgoing,Services,Z-PF07,-1.0,3.00,0.0,-1200.41148,1.0

In [77]:
#round up decimal values

raw_data_final = pd.DataFrame(raw_data_subset)

raw_data_subset = raw_data_final.round(0)

In [78]:
#Change float values to integers in order to remove decimal values

raw_data_subset["On-hand_quantity"] = raw_data_subset["On-hand_quantity"].apply(np.int64)
raw_data_subset["Qty_in_stock"] = raw_data_subset["Qty_in_stock"].apply(np.int64)
raw_data_subset["Receipt_quantity"] = raw_data_subset["Receipt_quantity"].apply(np.int64)
raw_data_subset["Stock_Value"] = raw_data_subset["Stock_Value"].apply(np.int64)
raw_data_subset["Issue_quantity"] = raw_data_subset["Issue_quantity"].apply(np.int64)

In [79]:
raw_data_subset.shape

(1041, 11)

In [80]:
raw_data_subset.dtypes

Period              object
Document_type       object
TALA_Category       object
Direction           object
Items_group         object
Item                object
On-hand_quantity     int64
Qty_in_stock         int64
Receipt_quantity     int64
Stock_Value          int64
Issue_quantity       int64
dtype: object

In [81]:
#numeric datas are now without decimal, rounded up 

raw_data_subset

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
0,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,8338-15/F/244,0,0,1,6,0
1,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16177A-61/F/1340,2010,14272,2010,13760,0
2,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218,414,0,414,2093,0
3,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CLAR16489B-15/F/218W,65,0,1144,8767,0
4,Q1 2020/21,Miscellaneous receipt,PA,Incoming,Finished Material,CORR11477A-15/F209EP,1881,0,1881,16277,0
...,...,...,...,...,...,...,...,...,...,...,...
1111,Q4 2021/22,Supplier receipt,PC,Outgoing,Finished Material,Y-MY004/F/275,-21600,24340,0,-48941,21600
1112,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-3533-15H/F/184,-3680,2473,0,-33941,3680
1113,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-5435-61/F/1000,-36000,114877,0,-373405,36000
1114,Q4 2021/22,Supplier receipt,PC,Outgoing,Raw Materials,R-6532-15/F/180,-2160,3420,0,-75288,2160
1115,Q4 2021/22,Supplier receipt,PC,Outgoing,Services,Z-PF07,-1,3,0,-1200,1

<h4> Part 2.8 Remove Negative Values </h4>

In [82]:
#check negative values in columns 

numerical_columns = [c for c in raw_data_subset.columns if raw_data_subset[c].dtype.name != 'object']

raw_data_subset[raw_data_subset[numerical_columns] < 0].count()

Period                0
Document_type         0
TALA_Category         0
Direction             0
Items_group           0
Item                  0
On-hand_quantity    364
Qty_in_stock          0
Receipt_quantity      7
Stock_Value         366
Issue_quantity        3
dtype: int64

In [83]:
#Find Receipt_quantity negative values

neg_values = raw_data_subset[raw_data_subset[numerical_columns] < 0].loc[550:560]
    
neg_values

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20000.0,NaN,NaN
554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1000.0,NaN,NaN
555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3000.0,NaN,NaN
556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4000.0,NaN,NaN
557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-90000.0,NaN,NaN
558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,NaN,NaN
559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20.0,NaN,NaN
560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#Remove Receipt_quantity negative values rows

raw_data_subset = raw_data_subset.drop(labels=[553,554,555,556,557,558,559], axis=0)

In [85]:
raw_data_subset.shape

(1034, 11)

In [86]:
#Find Issue_quantity negative values

neg_values1 = raw_data_subset[raw_data_subset[numerical_columns] < 0].loc[570:580]
    
neg_values1

,Period,Document_type,TALA_Category,Direction,Items_group,Item,On-hand_quantity,Qty_in_stock,Receipt_quantity,Stock_Value,Issue_quantity
570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,NaN,NaN,NaN,NaN,NaN,NaN,-145150.0,NaN,NaN,-580600.0,-1145150.0
572,NaN,NaN,NaN,NaN,NaN,NaN,-21600.0,NaN,NaN,-52416.0,-21600.0
574,NaN,NaN,NaN,NaN,NaN,NaN,-49000.0,NaN,NaN,-297388.0,-49000.0
575,NaN,NaN,NaN,NaN,NaN,NaN,-145150.0,NaN,NaN,-580600.0,NaN
577,NaN,NaN,NaN,NaN,NaN,NaN,-178.0,NaN,NaN,-5684.0,NaN
578,NaN,NaN,NaN,NaN,NaN,NaN,-49000.0,NaN,NaN,-297388.0,NaN
579,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,NaN,NaN,-849.0,NaN
580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
#Remove Issue_quantity negative values rows

raw_data_subset = raw_data_subset.drop(labels=[571,572, 574], axis=0)

In [88]:
raw_data_subset.shape

(1031, 11)

<h2> Part 3 Print Totals of Total </h2>

<h4> Part 3.1 Total of Receipt Quantity for Incoming in Year 2020 - 2021 </h4>

In [89]:
#check 'Receipt_quantity' columns values 

raw_data_subset['Receipt_quantity'].value_counts()

0        371
1         15
300       11
4          9
2          9
        ...
13560      1
430        1
29680      1
17381      1
16848      1
Name: Receipt_quantity, Length: 463, dtype: int64

In [90]:
#check 'Period' columns values 

raw_data_subset['Period'].value_counts(ascending = True)

Q4 2022/23      2
Q1 2023/24      3
Q2 2021/22     91
Q3 2021/22    102
Q1 2021/22    129
Q3 2020/21    131
Q4 2020/21    134
Q1 2020/21    138
Q2 2020/21    145
Q4 2021/22    156
Name: Period, dtype: int64

In [91]:
#check 'Direction' columns values 

raw_data_subset['Direction'].value_counts()

Incoming    665
Outgoing    366
Name: Direction, dtype: int64

In [92]:
#Print TotalCount of Receipt_quantity based on each Period, Direction & Receipt_quantity

a = raw_data_subset.groupby(["Period","Direction","Receipt_quantity"]).size().reset_index(name="TotalCount")
a

         Period Direction  Receipt_quantity  TotalCount
0    Q1 2020/21  Incoming                 1           3
1    Q1 2020/21  Incoming                 2           2
2    Q1 2020/21  Incoming                 3           3
3    Q1 2020/21  Incoming                 5           2
4    Q1 2020/21  Incoming                 8           2
..          ...       ...               ...         ...
598  Q4 2021/22  Incoming            104600           1
599  Q4 2021/22  Incoming            114456           1
600  Q4 2021/22  Incoming            194400           1
601  Q4 2021/22  Outgoing                 0          55
602  Q4 2022/23  Outgoing                 0           2

[603 rows x 4 columns]

In [93]:
#Total Incoming Receipts of Q1 2020/21
Q1_total_2020_R = len(a[(a['Direction'] =='Incoming') & 
                          (a['Period'] == 'Q1 2020/21') & (a['TotalCount'])])

#Total Incoming Receipts of Q2 2020/21
Q2_total_2020_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q2 2020/21') & (a['TotalCount'])])

#Total Incoming Receipts of Q3 2020/21
Q3_total_2020_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q3 2020/21') & (a['TotalCount'])])

#Total Incoming Receipts of Q4 2020/21
Q4_total_2020_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q4 2020/21') & (a['TotalCount'])])

In [94]:
#Total Incoming Receipts of Q1 - Q4 2020/21

print(Q1_total_2020_R)
print(Q2_total_2020_R)
print(Q3_total_2020_R)
print(Q4_total_2020_R)

total_quantity_2020_R = Q1_total_2020_R + Q2_total_2020_R + Q3_total_2020_R + Q4_total_2020_R
print ('The total of Receipt Quantity for Incoming for the year 2020 is', total_quantity_2020_R)

78
62
73
75
The total of Receipt Quantity for Incoming for the year 2020 is 288

In [95]:
#Total Incoming Receipts of Q1 2021/22
Q1_total_2021_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q1 2021/22') & (a['TotalCount'])])

#Total Incoming Receipts of Q2 2021/22
Q2_total_2021_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q2 2021/22') & (a['TotalCount'])])

#Total Incoming Receipts of Q3 2021/22
Q3_total_2021_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q3 2021/22') & (a['TotalCount'])])

#Total Incoming Receipts of Q4 2021/22
Q4_total_2021_R = len(a[(a['Direction']=='Incoming') & 
                          (a['Period'] == 'Q4 2021/22') & (a['TotalCount'])])

In [96]:
#Total Incoming Receipts of Q1 - Q4 2021/22

print(Q1_total_2021_R)
print(Q2_total_2021_R)
print(Q3_total_2021_R)
print(Q4_total_2021_R)

total_quantity_2021_R = Q1_total_2021_R + Q2_total_2021_R + Q3_total_2021_R + Q4_total_2021_R
print ('The total of Receipt Quantity for Incoming for the year 2021 is', total_quantity_2021_R)

78
57
55
81
The total of Receipt Quantity for Incoming for the year 2021 is 271

In [97]:
#Total Incoming Receipts Quantity of Q1 - Q4 Year 2020 and 2021


total_quantity_2020_2021_R = total_quantity_2020_R + total_quantity_2021_R
print ('The total of Receipt Quantity for Incoming for the year 2020 and 2021 are', total_quantity_2020_2021_R)

The total of Receipt Quantity for Incoming for the year 2020 and 2021 are 559

<h4> Part 3.2 Total of Issued Quantity for Outgoing in Year 2020 - 2021 </h4>

In [98]:
#check 'Issue_quantity' columns values 

raw_data_subset['Issue_quantity'].value_counts()

0        667
2         12
150       10
1          7
100        6
        ...
980        1
51600      1
690        1
232        1
2160       1
Name: Issue_quantity, Length: 279, dtype: int64

In [99]:
#check 'Period' columns values 

raw_data_subset['Period'].value_counts(ascending = True)

Q4 2022/23      2
Q1 2023/24      3
Q2 2021/22     91
Q3 2021/22    102
Q1 2021/22    129
Q3 2020/21    131
Q4 2020/21    134
Q1 2020/21    138
Q2 2020/21    145
Q4 2021/22    156
Name: Period, dtype: int64

In [100]:
#check 'Direction' columns values 

raw_data_subset['Direction'].value_counts()

Incoming    665
Outgoing    366
Name: Direction, dtype: int64

In [101]:
#Print TotalCount of Issue_quantity based on each Period, Direction & Issue_quantity

b = raw_data_subset.groupby(["Period","Direction","Issue_quantity"]).size().reset_index(name="TotalCount")
b

         Period Direction  Issue_quantity  TotalCount
0    Q1 2020/21  Incoming               0          90
1    Q1 2020/21  Outgoing               1           3
2    Q1 2020/21  Outgoing               2           1
3    Q1 2020/21  Outgoing               3           1
4    Q1 2020/21  Outgoing               8           1
..          ...       ...             ...         ...
332  Q4 2021/22  Outgoing           41840           1
333  Q4 2021/22  Outgoing           48192           1
334  Q4 2021/22  Outgoing           64800           1
335  Q4 2022/23  Outgoing              23           1
336  Q4 2022/23  Outgoing            1736           1

[337 rows x 4 columns]

In [102]:
#Total Outgoing Issued Receipts of Q1 2020/21
Q1_total_2020_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q1 2020/21') & (b['TotalCount'])])

#Total Outgoing Issued Receipts of Q2 2020/21
Q2_total_2020_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q2 2020/21') & (b['TotalCount'])])

#Total Outgoing Issued Receipts of Q3 2020/21
Q3_total_2020_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q3 2020/21') & (b['TotalCount'])])

#Total Outgoing Issued Receipts of Q4 2020/21
Q4_total_2020_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q4 2020/21') & (b['TotalCount'])])

In [103]:
#Total Outgoing Issued_Receipts of Q1 - Q4 2020/21

print(Q1_total_2020_I)
print(Q2_total_2020_I)
print(Q3_total_2020_I)
print(Q4_total_2020_I)

total_quantity_2020_I = Q1_total_2020_I + Q2_total_2020_I + Q3_total_2020_I + Q4_total_2020_I
print ('The total of Receipt Quantity for Outgoing for the year 2020 is', total_quantity_2020_I)

46
25
40
53
The total of Receipt Quantity for Outgoing for the year 2020 is 164

In [104]:
#Total Outgoing Issued of Q1 2021/22
Q1_total_2021_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q1 2021/22') & (b['TotalCount'])])

#Total Outgoing Issued of Q2 2021/22
Q2_total_2021_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q2 2021/22') & (b['TotalCount'])])

#Total Outgoing Issued of Q3 2021/22
Q3_total_2021_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q3 2021/22') & (b['TotalCount'])])

#Total Outgoing Issued of Q4 2021/22
Q4_total_2021_I = len(b[(b['Direction']=='Outgoing') & 
                          (b['Period'] == 'Q4 2021/22') & (b['TotalCount'])])

In [105]:
#Total Outgoing Issued_Receipts of Q1 - Q4 2021/22

print(Q1_total_2021_I)
print(Q2_total_2021_I)
print(Q3_total_2021_I)
print(Q4_total_2021_I)

total_quantity_2021_I = Q1_total_2021_I + Q2_total_2021_I + Q3_total_2021_I + Q4_total_2021_I
print ('The total of Receipt Quantity for Outgoing for the year 2021 is', total_quantity_2021_I)

37
32
35
39
The total of Receipt Quantity for Outgoing for the year 2021 is 143

In [106]:
#Total Outgoing Issued Quantity of Q1 - Q4 Year 2020 and 2021

total_quantity_2020_2021_I = total_quantity_2020_I + total_quantity_2021_I
print ('The total of Issued Quantity for Outgoing for the year 2020 and 2021 are', total_quantity_2020_2021_I)

The total of Issued Quantity for Outgoing for the year 2020 and 2021 are 307

<h2> Part 4 Tabulated Data using Pivot Table function </h2>

<h4> Question 2a: Table Summary where direction = split between Incoming and Outgoing 
    and group by  Dimension Variables = Items_group </h4>

In [113]:
raw_data_subset.pivot_table('Stock_Value',['Items_group'],['Direction'], aggfunc = ('count', 'min', 'max', 'median', 'std'))

                     count               max            median           \
Direction         Incoming Outgoing Incoming Outgoing Incoming Outgoing
Items_group
Finished Material      310      216  3182860       -6  43384.5 -20396.0
Packing Materials       15        6    47927        0    479.0  -3190.0
Raw Materials          182       97  1299439       -1  63989.5 -34275.0
Services               158       47  1978993      -86  17660.5 -13691.0

                       min                     std
Direction         Incoming Outgoing       Incoming       Outgoing
Items_group
Finished Material        2 -1818777  479829.917694  248749.363652
Packing Materials        0   -50035   14894.532146   19555.713402
Raw Materials            1  -667613  224840.950415  139409.575581
Services                 1  -840312  191714.428490  156852.840768

<h4> Question 2b: Table Summary where direction = split between Incoming and Outgoing
  and group by  Dimension Variables = TALA Category </h4>

In [114]:
raw_data_subset.pivot_table('Stock_Value',['TALA_Category'],['Direction'], aggfunc = ('count', 'min', 'max', 'median', 'std'))

                 count               max            median               min  \
Direction     Incoming Outgoing Incoming Outgoing Incoming Outgoing Incoming
TALA_Category
PA                 265      191  2751710       -6  65640.0 -37815.0        2
PB                   3        9    26060     -135  24941.0  -4942.0    19617
PC                 397      166  3182860        0  16545.0  -6405.5        0

                                  std
Direction     Outgoing       Incoming       Outgoing
TALA_Category
PA            -1375855  427416.260689  206697.058159
PB              -11362    3442.610105    3864.363642
PC            -1818777  317439.201367  223205.161403

<h4> Question 2c: Table Summary where direction = split between Incoming and Outgoing
  and group by  Dimension Variables where TALA_category  in (PA, PB, PC) and list by Document type </h4>

In [115]:
pd.pivot_table(raw_data_subset, values='Stock_Value', index=['TALA_Category','Document_type'],
               columns=['Direction'], aggfunc = ('count', 'min', 'max', 'median', 'std'))

                                       count                 max           \
Direction                           Incoming Outgoing   Incoming Outgoing
TALA_Category Document_type
PA            Miscellaneous issue        1.0     76.0     5583.0     -6.0
              Miscellaneous receipt     84.0      2.0  1817021.0     -6.0
              Supplier receipt         180.0    113.0  2751710.0  -2505.0
PB            Miscellaneous issue        NaN      9.0        NaN   -135.0
              Miscellaneous receipt      3.0      NaN    26060.0      NaN
PC            Miscellaneous issue        NaN     84.0        NaN      0.0
              Miscellaneous receipt    163.0      4.0  1978993.0      0.0
              Supplier receipt         234.0     78.0  3182860.0   -710.0

                                       median               min             \
Direction                            Incoming Outgoing Incoming   Outgoing
TALA_Category Document_type
PA            Miscellaneous issue      5583.0  -7529.5   5583.0  -667613.0
              Miscellaneous receipt    5410.5  -6592.5      2.0   -13179.0
              Supplier receipt       126956.0 -69832.0   3911.0 -1375855.0
PB            Miscellaneous issue         NaN  -4942.0      NaN   -11362.0
              Miscellaneous receipt   24941.0      NaN  19617.0        NaN
PC            Miscellaneous issue         NaN  -6237.0      NaN  -840312.0
              Miscellaneous receipt   10520.0  -1900.0      0.0    -5402.0
              Supplier receipt        29216.0 -20382.0     12.0 -1818777.0

                                               std
Direction                                 Incoming       Outgoing
TALA_Category Document_type
PA            Miscellaneous issue              NaN   84145.261591
              Miscellaneous receipt  201713.561639    9314.717629
              Supplier receipt       479370.644977  243149.028207
PB            Miscellaneous issue              NaN    3864.363642
              Miscellaneous receipt    3442.610105            NaN
PC            Miscellaneous issue              NaN  115653.664539
              Miscellaneous receipt  162486.011144    2256.221251
              Supplier receipt       379041.811039  290438.270371

<h2> Part 5 Plot Graph </h2>

<h3> Part 5.1 Question 3: All three graphs where direction = all </h3>

<h4> Box Plot </h4>

<h4> Pie Chart </h4>

<h4> Stack Bar Chart </h4>

<h3> Part 5.2 Question 4: All three graphs where direction = Incoming </h3>

<h4> Box Plot </h4>

<h4> Pie Chart </h4>

<h4> Stack Bar Chart </h4>

<h3> Part 5.3 Question 5: All three graphs where direction = Outgoing </h3>

<h4> Box Plot </h4>

<h4> Pie Chart </h4>

<h4> Stack Bar Chart </h4>

<h3> Part 5.3 Question 6: All three(should be TWO) graphs where direction = Outgoing and TALA category equals to PA, PB and PC </h3>

<h4> Box Plot </h4>

<h4> Pie Chart </h4>